/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.idea/
_ide_helper.php
composer.lock
/public/build
/public/css
/public/js
/storage/framework/*
/storage/app/*
/storage/logs/*
/storage/cache/*
.DS_Store