/vendor
/node_modules

Homestead.yaml
Homestead.json
.env
.idea/
_ide_helper.php
composer.lock
npm-debug.log
.DS_Store

/public/css
/public/fonts
/public/img
/public/js
/public/vendor

/storage/framework/*
/storage/app/*
/storage/logs/*
/storage/cache/*