.tar-article-form {
    .simditor {
        border: none;
        box-shadow: $box-shadow;

        .simditor-wrapper {
            background-color: $cwhite;

            .simditor-toolbar {
                top: 51px!important;
            }
        }

        .simditor-body {
            max-width: $max-width;
            min-height: 450px;
            font-size: 14px;
            margin-left: auto;
            margin-right: auto;
            background-color: $cwhite;
        }

        .markdown-editor {
            max-width: $max-width;
            margin-left: auto;
            margin-right: auto;

            textarea {
                background-color: $cwhite;
                font-size: 14px;
            }
        }

        .simditor-image-loading {
            > .progress {
                margin-bottom: 0;
            }
        }

    }
}

.tar-artl-title {
    border: none;
    border-radius: 0;
    box-shadow: none;
    line-height: 2.5rem;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: $cbackgroud;
}

.tar-artl-title:focus {
    box-shadow: none;
}

.tar-artl-ttlbox {
    display: none;
}

.tar-artl-ssbtn {
    z-index: 2;
    position: fixed;
    bottom: 0;
    right: 1em;
}

.t-edit-cover {
    position: relative;
    margin-bottom: 20px;

    img {
        width: 100%;
    }

    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        font-size: 0;
        cursor: pointer;
    }

    .progress {
        border-top: 1px solid $cgray-light;
        border-radius: 0;
        box-shadow: none;
    }
}

.t-rtcl-desc {
    border-radius: 0;
    box-shadow: none;
}

.t-rtcl-desc:focus {
    box-shadow: none;
    border: 1px solid $cfont-focus;
}

.t-lable {
    overflow: hidden;
    height: 100px;
    box-shadow: none;
    border-radius: 0;

    .t-tag-input {
        border: none;
        border-bottom: 1px solid $cgray-base;
        width: 60px;
    }
}

.t-tag-box {
    display: inline-block;

    span {
        display: inline-block;
        margin-right: 10px;
    }
}

.t-lbl-box {
    margin-top: 20px;
    padding: 15px;

    span {
        display: inline-block;
        margin-bottom: 10px;
        cursor: pointer;
    }
}