.tar-artl-title {
    border: none;
    border-radius: 0;
    box-shadow: none;
    line-height: 2.5rem;
    font-size: 2rem;
    border-bottom: 1px solid #c9d8db;
}

.tar-artl-title:focus {
    box-shadow: none;
}

.tar-artl-ttlbox {
    display: none;
}

.tar-artl-ssbtn {
    overflow: hidden;
}