.t-rtcl-back {
    margin-right: 30px;
    margin-top: -7px;
    z-index: 2;
    border-top: 1px solid $cbackgroud;

    .btn {
        background: linear-gradient($cbackgroud, $carticle-btn);
        border-radius: 0;
        border-color: #483F3D;
        border-top: 1px solid $cbackgroud;
    }

    .btn:first-child {
        border-right: none;
    }

    .btn:last-child {
        border-left: none;
    }
}

.tar-article-box {
    background-color: $cbackgroud;

    .t-rtcl-ttl {
        font-weight: 700;
        font-size: $sfont-title;
    }

    hr {
        margin: 0.5rem auto;
    }

    .tar-article-time {
        color: $cgray-base;
        margin-bottom: 5px;
    }

    .article-content {
        width: 100%;
        overflow: hidden;
        word-wrap: break-word;
        word-break: normal;

        img {
            max-width: 100%;
            margin: 1rem auto;
        }
    }
}

@import "list";
@import "form";