.tar-article-box {
    background-color: $white;

    hr {
        margin: 0.5rem auto;
    }

    .tar-article-time {
        color: $gray-base;
    }

    .article-content {
        width: 100%;
        overflow: hidden;
        word-wrap: break-word;
        word-break: normal;
        padding: 1rem;

        img {
            width: 100%;
            height: 100%;
            margin: 1rem auto;
        }
    }
}

@import "list";
@import "form";