.t-rtcl {
  margin-top: 20px;

  .t-rtcl-figure:hover {
    border-color: $primary !important;
  }

  .t-rtcl-desc {
    height: 52px;
  }
}

.t-rtcl-pagination {
  .pagination {
    margin-left: auto;
    margin-right: auto;
  }
}
