.tar-article-list {
    border-radius: 0;
    background-color: $cwhite;
    border: none;
    margin-bottom: 20px;

    .t-artl-title {
        border-bottom: 1px solid $cgray-light;
        line-height: 32px;
        margin-bottom: 10px;

        > a {
            font-size: 16px;
            font-weight: 400;
            width: 50%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
        }

        > .t-artl-date {
            color: $cgray-base;
        }
    }

    .tar-article-extra {
        color: $cgray-base;

        .t-rtcl-tag {
            max-height: 28px;
            line-height: 28px;
            overflow: hidden;
        }
    }

    .tar-article-info {
        img {
            width: 100%;
        }
    }

    .tar-article-list-decs {
        margin: 10px 0;
        max-height: 190px;
        word-break: break-all;
        word-wrap: break-word;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 8;
    }

    .tar-article-list-decs:after {
        content: '...';
    }
}

.tar-article-list:first-child {
    border-radius: 0;
    border-top: none;
}

.tar-article-list:last-child {
    border-radius: 0;
    border-bottom: none;
}

.tar-article-list:hover {
    box-shadow: $box-shadow;
}

.t-rtcl-links {
    padding: 0 5px;
    text-align: center;
}