.tar-article-box {
    background-color: $cwhite;
    padding: 30px;
    margin-bottom: 30px;
    min-height: 500px;

    .t-rtcl-ttl {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: $sfont-title;
    }

    .tar-article-time {
        color: $cgray-base;
        margin-bottom: 8px;
    }

    .article-content {
        width: 100%;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        word-wrap: break-word;
        word-break: normal;

        img {
            max-width: 100%;
            margin: 1rem auto;
        }
    }
}