@import "../../../../node_modules/swiper/dist/css/swiper.min";
@import "slider";

.t-index-plttl {
    color: $cfont;
    font-weight: 400;
    margin-top: -4px;
    margin-bottom: 30px;
    height: 60px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    .t-index-secttl {
        color: $cbackgroud;
        padding: 14px;
        border: 1px solid $cbackgroud;
        border-top: 0;
        width: 33.33%;
    }

    .t-index-secttl-red {
        color: $cfont-focus;
        border: 1px solid $cfont-focus;
    }
}

.t-index-pltbox {
    background-color: $cbackgroud;
    margin: 0 auto;
    max-width: $max-width;
    padding-bottom: 10px;
    border-radius: 4px;

    .t-index-desc {
        writing-mode: vertical-rl;
        background-color: $cwhite;
        height: 500px;
        padding: 30px;
        border-radius: 2px;
        overflow: hidden;
    }
}

.t-index-pht {
    overflow: hidden;

    a > img {
        width: 100%;
        min-height: 233px;
    }
}

.t-index-nt {
    overflow: hidden;
    padding-top: 1px;

    a > img {
        width: 100%;
        min-height: 189px;
    }

    .t-index-ntttl {
        font-weight: 400;
        height: 32px;
        word-break: break-all;
        word-wrap: break-word;
        -webkit-line-clamp: 2;
    }

    .t-index-ntdesc {
        height: 120px;
        overflow: hidden;
        display: -webkit-box;
        word-break: break-all;
        word-wrap: break-word;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
    }

    .t-index-ntdesc:after {
        content: '...';
    }
}

.t-index-handicraft {
    background-color: #8e354a;
    padding-bottom: 50px;

    .t-index-perhndcrft {
        overflow: hidden;
        text-align: center;

        img {
            width: 100%;
            max-width: 316px;
            margin-bottom: 30px;
            border: 4px solid $cbackgroud;
        }
    }
}

.t-index-note {
    background-color: #8e354a;
}
