@import "../../../../node_modules/swiper/dist/css/swiper.min";
@import "slider";

// 隐藏下载按钮
audio::-webkit-media-controls {
    overflow: hidden !important
}
audio::-webkit-media-controls-enclosure {
    width: calc(100% + 32px);
    margin-left: auto;
}

.t-index-plttl {
    color: $cfont-focus;
    background-color: $cbackgroud;
    font-weight: 700;
    width: 300px;
    margin: 20px auto;
    height: 20px;
    line-height: 0;
}

.t-index-pltbox {
    background-color: $cbackgroud;
    padding-bottom: 10px;
    border-radius: 4px;

    .t-index-pht {
        overflow: hidden;

        a > img {
            width: 100%;
        }
    }

    .t-index-desc {
        writing-mode: vertical-rl;
        background-color: $cwhite;
        height: 500px;
        padding: 30px;
        border-radius: 2px;
    }
}

.t-index-cdcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-direction:column;

    .t-index-cdbox {
        animation: cdturnround 4s linear infinite;
        width: 400px;
        height: 400px;
        overflow: hidden;

        img {
            width: 400px;
            height: 400px;
        }
    }

    .t-index-cdpaused {
        -webkit-animation-play-state: paused;
    }

    audio {
        margin-top: 20px;
    }
}



@-webkit-keyframes cdturnround {
    0% {
        -webkit-transform: rotate(0)
    }
    50% {
        -webkit-transform: rotate(180deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes cdturnround {
    0% {
        transform: rotate(0)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
}