$unsliderTop: -4rem;

.tar-index-slider {
  overflow: hidden;
  ul {
    li {
      a {
        img {
          width: 100%;
        }
      }
    }
  }
}

.unslider {
  .unslider-nav {
    position: relative;
    top: $unsliderTop;

    ol {
      li {
        width: 1rem;
        height: 1rem;
        border-radius: 1rem;
      }
    }
  }

  .unslider-arrow {
    display: none;
    margin-top: $unsliderTop;
  }
}
