input, textarea:focus {
    outline: none;
}

.bg-white {
    background: #fff;
}

.tar-error {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10;

    ul {
        li {
            list-style: none;
        }
    }
}

.tar-ul-nomargin {
    margin: 0;
}

.no-resize {
    resize: none;
}

.t-index-ftr {
    background-color: $cwhite;
    border: 0;
    border-radius: 0;
    border-top: solid 1px $cfont-focus;
    margin-bottom: 0;
    display: none;
    margin-top: 20px;
    z-index: 1;
}
.t-border-image {
    border: 30px solid transparent;
    border-image:url("/dist/img/flower-border.png") 67 67 round;
}
@import "dialog";
@import "simditor";
@import "nav";