input, textarea:focus {
    outline: none;
}

.bg-white {
    background: #fff;
}

.tar-error {
    position: fixed;
    top: 70px;
    right: 30px;
    z-index: 10;

    ul {
        li {
            list-style: none;
        }
    }

    .fade-out {
        visibility: hidden;
        opacity: 0;
        transition: all 1s linear;
    }
}

.tar-ul-nomargin {
    margin: 0;
}

.no-resize {
    resize: none;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding {
    padding: 0;
}

.t-wrap {
    min-height: 100%;
}

.t-main {
    padding-bottom: 55px;
}

.t-index-ftr {
    background-color: $cwhite;
    border: 0;
    border-radius: 0;
    border-top: solid 1px $cfont-focus;
    margin: -55px 0 0;
    height: 55px;
    z-index: 1;
}

.t-overflowy-hidden {
    overflow-y: hidden;
}

@import "dialog";
@import "simditor";
@import "nav";