.nav-body-70 {
    padding-top: 70px;
}

.navbar-default {
    .t-navbar-brand {
        padding: 10px 0;
        margin-left: 15px;

        img {
            height: 100%;
        }
    }

    .navbar-toggle {
        border: none;

        &:hover,
        &:focus {
            background-color: transparent;
        }

        .icon-bar {
            background-color: $cfont-focus;
        }
    }

    .t-navbar-title {
        font-size: 16px;
        font-weight: 400;
        color: $cfont;
        position: absolute;
        margin: 15px 0;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: none;
    }

}
