.nav-body-70 {
    padding-top: 70px;
}

.t-nav-brand {
    background: $cwhite url("/dist/img/logo.png") no-repeat center;
    background-size: contain;
}

.navbar-default .navbar-nav {
    > .open > .tar-go {
        &,
        &:hover,
        &:focus,
        &:active,
        &:visited {
            color: $cblack;
            background-color: transparent;
        }
    }
}

.t-index-ftr {
    background-color: $cwhite;
    border: 0;
    border-radius: 0;
    border-top: solid 1px $cfont-focus;
    margin-bottom: 0;
    display: none;
}