@import "tar-bootstrap/bootstrap";

input, textarea:focus {
  outline: none;
}

.tar-error {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.tar-error > ul > li {
  list-style: none;
}

// 侧边栏
.tar-sidebar-panel {
  margin: 1em auto;
}

.tar-tags-box > .list-group > .list-group-item {
  margin: 0.5em;
}

// 首页
.tar-jumbotron {
  margin-top: -20px;
}

// 控制面板
.tar-cp-nav {
  background-color: #333;
  max-width: 150px;

  img {
    width: 60px;
  }

  ul > li > a > span {
    font-size: 1em;
    margin-right: 0.5em;
  }
}

.tar-cp-main {

}

.tar-cp-top {
  ul {
    margin-bottom: 0;
  }
  li {
    padding: 0;
    margin-right: 5px;
  }
  font-size: 0.8em;
  a {
    color: $gray-light;
    text-decoration: none;
  }
}