$border-radius-sm:            1px;
$border-radius:               2px;
$primary:                     #8e354a !default;
$font-size-base:              0.875rem !default; // Assumes the browser default, typically `16px`
$body-bg:                     #f9f9f9;
$black:    #000 !default;
$box-shadow-sm:               0 0 .025rem .025rem rgba($black, .075) !default;
$box-shadow:                  0 0 .05rem .05rem rgba($black, .15) !default;
$box-shadow-lg:               0 0 .1rem .1rem rgba($black, .175) !default;
