.navbar-default {
    background-color: $black;
    border: 0;

    .navbar-brand {
        color: $wineRed;
    }

    .navbar-nav {
        >li {
            >a {
                color: $wineRed;
            }
        }
    }
}