.navbar-default {
    background-color: #000;
    border: 0;
    border-top: 2px solid #7d0000;

    .navbar-nav {
        li {
            a {
                color: #fff;
            }
        }
    }
}