html {
    font-family: "Times","Times New Roman","SimSun",serif;
}
body {
    font-family: "Times","Times New Roman","SimSun",serif;
    background: $cbackgroud url("/dist/img/background.png");
    min-width: 1200px;
}

a {
    color: $cfont;

    &:hover,
    &:focus {
        color: $cfont-focus;
        text-decoration: none;
    }
}