body {
    background: $cbackgroud url("/dist/img/background.png");
    min-width: 1200px;
}

a {
    color: $cfont;

    &:hover,
    &:focus {
        color: $cfont-focus;
        text-decoration: none;
    }
}