.pagination {
    > li {
        > a,
        > span {
            color: $cfont;
        }
        &:first-child {
            > a,
            > span {

            }
        }
        &:last-child {
            > a,
            > span {

            }
        }
    }

    > .active > a,
    > .active > span {
        &,
        &:hover,
        &:focus {
            z-index: 3;
            color: $cfont;
            background-color: $cfont-focus;
            border-color: $cfont-focus;
        }
    }
}