.panel {
    border-radius: 0;
    box-shadow: none;
}
.panel-default {
    border: 0;

    .panel-heading {
        color: $wineRed;
        background-color: $black;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
}