.panel {
    box-shadow: none;
}
.panel-default {
    border-color: $cfont-focus;

    .panel-heading {
        color: $cfont;
        font-weight: 700;
        background-color: $cbackgroud;
        border-bottom: 1px solid $cfont-focus;
    }

    .panel-body {
        > .list-group > .list-group-item {
            border: none;
        }
    }
}