/* color */
$cblack:         #000;
$cwhite:         #fff;
$cgray-base:     #ccc;
$cgray-light:    #f9f9f9;
$cbackgroud:    #f9f9f9;
$cfont:         #4a4a4a;
$cfont-focus:   #8e354a;
$ctag-backgroud:        #d7c4bb;
$ctag-color:    #8e354a;
$carticle-btn:  #f6f6f4;

$sfont-title:   16px;