/* color */
$cblack:         #000;
$cwhite:         #fff;
$cgray-base:     #ccc;
$cgray-light:    #f9f9f9;
$cbackgroud:    #FCFAF2;
$cfont:         #1c1c1c;
$cfont-focus:   #8E354A;
$ctag-backgroud:        #D7C4BB;
$ctag-color:    #8E354A;
$carticle-backgroud:    #FCFAF2;

$sfont-title:   16px;