.t-ctl-fl {
    display: inline-block;

    .t-ctl-flbx {
        display: inline-block;
        margin: 10px;
        width: 248px;
        height: 248px;

        img {
            width: 248px;
        }
    }
    .t-ctl-floprtn {
        margin-top: -41px;
        padding-right: 13px;

        button {
            border-radius: 0;
        }
    }
}
