// 控制面板左侧导航栏
.tar-cp-nav {
    background-color: #333;
    max-width: 150px;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 11;


    img {
        width: 60px;
    }

    ul {
        background-color: #333;

        li {
            background-color: #333;
            border: 0;
            text-align: center;

            span {
                font-size: 28px;
            }

            .glyphicon-list-alt {
                padding-right: 2px;
            }

            .glyphicon-send {
                padding-right: 3px;
            }
        }

        .t-ctl-nav-last {
            position: absolute;
            bottom: 0;
            left: 24px;
        }

        .tar-avatar {
            padding-left: 0;
            padding-right: 0;
        }
    }
}