.tar-cps-banner {
    padding: 1.5em;

    li {
        overflow: hidden;

        .tar-cps-bimg {
            text-align: center;
            overflow: hidden;
            font-size: 7rem;
            background-size: 100%!important;

            span {
                cursor: pointer;
                margin: 1rem auto;
                color: #fff;
                opacity: 0.5;
                filter: Alpha(opacity=50);
            }

            span:hover {
                color: #337ab7;
                opacity: 1;
                filter: Alpha(opacity=100);
            }
        }

        .t-ctl-btg {
            color: #337ab7;
        }
    }
}

.tar-cps-artl {
    .input-group {
        margin-bottom: 1em;
    }

    ul {
        li {
            line-height: 2.4em;
        }
    }
}

.tar-cps-upfile {
    position: relative;
    overflow: hidden;
    cursor: default;
    text-align: center;
    background: url('https://statics.targaryen.top/default-image.png?imageView2/1/w/504/h/210') no-repeat;
    background-size: 100%!important;
    width: 36em;
    height: 15em;
    margin-left: auto;
    margin-right: auto;

    span {
        font-size: 12rem;
        line-height: 16rem;
        color: #337ab7;
        cursor: pointer;
    }

    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        font-size: 0;
        cursor: pointer;
    }

    input[type=file]:hover {
        opacity: 0;
        filter: Alpha(opacity=0);
    }
}
#set-banner {
    .form-group {
        margin-bottom: 0;
    }

    .tar-cps-bnrprgrs {
        margin-top: 20px;
    }

    .tar-upbnnr-result {
        height: 1.5rem;
        text-align: center;
        color: #c9302c;
    }
}
