@import "nav";
@import "top";
@import "todo";
@import "setting";
@import "article";
@import "trash";
@import "file";

body {
    height: 100%;
}

// 控制面板子导航
.tar-ctl-navbar {
    margin-bottom: 1rem;
}

.tar-cp-main {
    min-height: 500px;
    border: 1px solid #e7e7e7;
    border-radius: 0.4em;
    padding-top: 1em;
    background-color: #f8f8f8;

    > .row {
        margin: 0;
    }
}

.no-resize {
    resize: none;
}

.popover-content {
    word-break: break-all;
}

.tooltip-inner {
    word-break: keep-all;
}

.no-padding-left {
    padding-left: 0;
}