.tar-cps-banner {
    padding: 1.5em;

    li {
        overflow: hidden;

        .tar-cps-binfo {

        }
    }
}

.tar-cps-artl {
    .input-group {
        margin-bottom: 1em;
    }

    ul {
        li {
            line-height: 2.4em;
        }
    }
}