@import "../../../../node_modules/bootstrap-datetime-picker/css/bootstrap-datetimepicker.min";

.tar-add-todo {
  background-color: #e7e7e7;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  display: none;

  .tar-todo-content {
    width: 100% !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  > form {
    > .form-group {
      > input {
        width: 100%;
      }
    }
  }
}

.tar-todo-list {
  li {
    margin-bottom: 1rem;

    .btn-group {
      .dropdown-toggle {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: -1px;
      }
    }

    .tar-todo-content {
      overflow: hidden;
      text-align: left;
    }
  }
}

.tar-todo-desc {
  width: 100% !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}